<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>

    {{>navbar}}

    <!-- main header -->
<div class="container-fluid main_header">
   <div class="row">
     <div class="col-md-10 col-12 mx-auto">
       <div class="main-content">
        <form action="" class="temp_form">
            <input type="text" id="cityName" placeholder="Enter Your city name" autocomplete="of
            " value="">
         <input type="submit" value="search" id="submitBtn">
        </form>
       </div>
       <div class="tempInformation">
        <div class="top_layer">
         <p id="day">Sunday</p>
         <p id="today_date">5 MAR</p>
        </div>
          <div class="main_layer">
            <p id="city_name"> Get Output Here</p>

            <div class="middle_layer data_hide">
              <p id="temp"><span id="temp_real_value" >0</span><sup>o</sup>C</p>
              <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true
              "></i></p>
            </div>
          </div>
       </div>
     </div>
  </div>  
</div>  
    <!-- footer code -->
{{>footer}}
    <script src="js/main.js"></script>
    <script>
      
      const getCurrentDay = ()=>{
      let weekday = new Array(7);
      weekday[0] = "Sunday";
      weekday[1] = "Monday";
      weekday[2] = "Tuesday";
      weekday[3] = "Wednesday";
      weekday[4] = "Thursday";
      weekday[4] = "Friday";
      weekday[6] = "Saturday";
      
      let currentTime = new Date();
      let days = weekday[currentTime.getDay()];
      let today_date  = document.getElementById('today_date');
          today_date.innerText = currentTime.toDateString();
      let day = document.getElementById('day');
      day.innerText = days;
       
      };
      getCurrentDay();
      
    </script>
</body>
</html>